body {
  background-color: white;
  font-family: 'Acme', sans-serif;
  font-weight: bold;
}

/* 把页面横向划分为左中右三个并排的部分 */
#cool_game {
  display: flex;
  margin-top: 32px;
}

/* 左边 */
#left {
  width: 400px;
  float: left;
  /* background-color: #FFF9E4; */
}

#left h1 {
  padding-left: 92px;
  font-size: 96px;
  color: #25CED1;
  margin: 0 0 60px 0;
}

#left p {
  padding-left: 92px;
  font-size: 32px;
  color: #25CED1;

}

#left img {
  padding-left: 92px;
}

/* Copyright */
#left .copyright p {
  padding-left: 92px;
  margin-top: 68px;
  text-align: left;
  color: #C5CFD1;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 中间 */
#grid_container {
  display: inline-block;
  width: 460px;
  height: 460px;
  padding: 0;
  margin: 0 auto 0 auto;
  background-color: #D3F7FF;
  border-radius: 10px;
  position: relative;
}

.grid_cell {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background-color: #88E4E5;
  position: absolute;
}

.number_cell {
  border-radius: 6px;
  font-weight: bold;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
  position: absolute;
}

/* 右边*/
#right {
  width: 400px;
  float: right;
  /* background-color: #FFF9E4; */
}

#right p {
  margin-top: 18px;
  font-size: 32px;
  color: #25CED1;
}

#score {
  color: #ED7171;
}

#new_game_button {
  display: block;
  margin-top: 200px;
  width: 90%;
  height: 220px;
  line-height: 220px;
  padding: auto auto;
  background-color: #ffffff;
  color: #25CED1;
  box-shadow: 2px 2px 7px 0 rgba(230,228,228,0.50);
  font-size: 36px;
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
}

#new_game_button:hover {
  color: #ffffff;
  background-color: #25CED1;
  box-shadow: 2px 16px 36px 0 rgba(134,134,134,0.50);
  font-size: 48px;
  transition: all 0.1s
}
